<template>
    <div id="login">
        <div class="logo"><img src="@/assets/LOGO.png"></div>
        <div class="textInput"><p class="loginPageP">Email</p><input type="text" name="username" label="Email" v-model="input.username" placeholder="Username" /></div>
        <div class="textInput"><p class="loginPageP">Password</p><input type="password" name="password" v-model="input.password" placeholder="Password" /></div>
        <!-- <div class="logo"><button v-on:click="login()"><img src="@/assets/buttonLogin.png"></button></div> -->
        <div class="logo"><a v-on:click="login"><img src="@/assets/buttonLogin.png"></a></div>
        <div><p class="lupa"><a v-on:click="login()">Lupa password ?</a></p></div>
    </div>
</template>

<script>
    export default {
        name: 'Login',
        data() {
            return {
                input: {
                    username: "",
                    password: ""
                }
            }
        },
        methods: {
            login: function () {
                if(this.input.username != "" && this.input.password != "") {
                    if(this.input.username == this.$parent.mockAccount.username && this.input.password == this.$parent.mockAccount.password) {
                        this.$emit("authenticated", true);
                        this.$router.replace({ name: "secure" });
                    } else {
                        console.log("The username and / or password is incorrect");
                    }
                } else {
                    console.log("A username and password must be present");
                }
            }
        }
    }
</script>

<style scoped>
    #login {
        width: 500px;
        object-fit: contain;
        border-radius: 20px;
        background-color: #ffffff;
        box-shadow: 1px 5px 25px 0 rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: auto;
        margin-top: 200px;
    }

    .logo {
        width: 250px;
        height: 120px;
        object-fit: contain;
        margin: auto;
    }

    input {
        width: 400px;
        height: 60px;
        padding: 12px 20px;
        margin: auto;
        margin-bottom: 8px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
        border: solid 3px rgba(196, 196, 196, 0.7);
    }

    .textInput {
        width: 80%;
        height: 120px;
        object-fit: contain;
        margin: auto;
    }

    .loginPageP {
        margin-bottom: 5px;
    }

    .lupa {
        width: 187px;
        height: 33px;
        font-family: 'OpenSans';
        font-style: 'regular';
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #f71735;
        margin: auto;
        text-align: center;
    }

</style>